In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

query = ''' SELECT *
            FROM dash_visits
        '''

data_raw = pd.io.sql.read_sql(query, con = engine)

print(data_raw.head(5))

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [5]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [6]:
print(data_raw['dt'].min(), data_raw['dt'].max())

2019-09-24 18:28:00 2019-09-24 19:00:00

In [7]:
print(data_raw.tail(5))

       record_id item_topic source_topic age_segment                  dt  \
30740    1071337       Юмор      Финансы       36-40 2019-09-24 18:57:00
30741    1071338       Юмор      Финансы       36-40 2019-09-24 19:00:00
30742    1071339       Юмор      Финансы       41-45 2019-09-24 18:54:00
30743    1071340       Юмор      Финансы       41-45 2019-09-24 18:56:00
30744    1071341       Юмор      Финансы       41-45 2019-09-24 19:00:00

       visits
30740       2
30741       1
30742       1
30743       1
30744       1

In [3]:
# data_raw.to_csv('dash_visits.csv')